<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eyesightcollectibles Login</title>
    <link rel="stylesheet" href="\..\assets\css\forgotpass.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <div class="image-container">
            <img src="\..\assets\css\images\logo.jpg" alt="Character">
        </div>
        </div>
        <div class="login-form">
            <h1>Eyesightcollectibles</h1>
            <h2>Forgot Password?</h2>
            <h5>Please enter your email to reset the password<h5>
            <form>
                <label for="email">Your Email</label>
                <input type="text" id="email" name="email" placeholder="Enter your email">
                <button type="submit" class="send-code">Send Code</button>
            </form>
        </div>
    </div>
</body>
</html>
