<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eyesightcollectibles</title>
    <link rel="stylesheet" href="../assets/css/verifypage.css">
</head>
<body>
    <div class="container">
        <h1 class="page-title">Eyesightcollectibles</h1>
        <div class="logo">
            <div class="image-container">
                <img src="../assets/css/images/logo.jpg" alt="Logo">
            </div>
        </div>
        <div class="login-form">
            <h2>Check your email</h2>
            <p class="instructions">We sent a reset link to example@gmail.com
                enter the 5 digit code that was mentioned in the email
            </p>
            <div class="code-input-container">
                <input type="text" maxlength="1" class="code-input">
                <input type="text" maxlength="1" class="code-input">
                <input type="text" maxlength="1" class="code-input">
                <input type="text" maxlength="1" class="code-input">
                <input type="text" maxlength="1" class="code-input">
            </div>
            <button type="submit" class="verify-code">Verify Code</button>
        </div>
    </div>
</body>
</html>
